/* Basic Style */
* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.hero {
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.hero__img {
  display: block;
  width: 100%;
}

.hero__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .hero {
    text-align: center;
  }

}

.main {
  margin: 0 auto;
  width: 400px;
}

.main__block {
  margin-top: 30px;
}

.todo__name {
  width: 56%;
  display: inline-block;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: #3a3A3a;
}

/* Heading */
.heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 0 0 10px 0;
  margin: 0;
  text-transform: uppercase;
}

.add-block__input,
.todo__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
  outline: none;
}

.add-block__input:focus,
.todo__input:focus {
  color: #333;
}

/* New Task */
.add-block__title {
  margin-bottom: 20px;
}

.add-block__input {
  width: 318px;
}

.button_add:hover {
  color: #0FC57C;
}

/* Task list */
.todo__list {
  margin: 0;
  padding: 0;
}

.todo__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  list-style: none;
}

.todo__item > * {
  vertical-align: middle;
}

.todo__checkbox {
  margin: 0 10px;
}

.todo__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.todo__input {
  display: none;
}

.button_delete:hover {
  color: #CF2323;
}

.button__img {
  display: block;
  width: 2em;
  height: 2em;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.button__img_remove {
  background-image: url(./remove.svg);
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button:hover .button__img_remove {
  transform: rotateZ(0);
}

/* Completed */
.todo__list_completed .todo__name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo__item_edit .todo__input {
  display: inline-block;
  width: 226px;
}

.todo__item_edit .todo__name {
  display: none;
}
